/* add your CSS here */
#card {
    padding: 5px;
    border: 1px solid#c0c0c0;
    width: 300px;
    box-shadow: 10px 10px 0 solid#ccc;
    -webkit-box-shadow: 5px 5px 0 solid#ccc;
    -moz-box-shadow: 5px 5px 0  solid#ccc;
}

#title {
    font-size: 20px;
}

p,
.list,
.info {
    padding: 2px;
    box-sizing: border-box;
}

.fact {
    font-style: italic;
}

.label {
    font-weight: bold;
}

.list {
    list-style: none;
}

.image {
    width: 300px;
    box-sizing: border-box;
}

.info,
.image {
    border: 1px  solid#c0c0c0;
}
